// These colors are specific to the theme. Do not use in a package!

@very-light-gray:   #aab2be;
@light-gray:        #89909b;
@gray:              #696f79;
@dark-gray:         #484d56;
@very-dark-gray:    #282c34;

@red:               #e57373;
@orange:            #ffb74d;
@strong-orange:     #ff8a65;
@yellow:            #ffd54f;
@green:             #aed581;
@teal:              #4db6ac;
@cyan:              #4dd0e1;
@blue:              #64b5f6;
@indigo:            #9575cd;
@violet:            #ba68c8;
@pink:              #e91e63;
